{% assign description = "iOS and Android developer." %}
<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> 	
<html lang="en"> 
<!--<![endif]-->
  <head>
    <meta charset="utf-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />	<!-- Force Latest IE rendering engine -->
    <title>{{ page.title }}</title>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600' rel='stylesheet' type='text/css'>
    <link href="http://feeds2.feedburner.com/tu0huang" rel="alternate" title="Tuo" type="application/atom+xml" /> 
    <link rel="shortcut icon" href="/static/images/favicon.png" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 

    <link rel="stylesheet" href="/static/css/style.css">

    <!--[if IE 7]>
      <script src="/static/css/font-awesome-ie7.css"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">	
      <div id='mobile' class='two columns hidden'>
        <ul>
          <li><a href='/'>tuohuang</a></li>
          <li><span class="gray">Tuo Huang 黄拓</span></li>
          <li><a href="mailto:clarkhtse@gmail.com.com">clarkhtse@gmail.com.com</a></li>
          <li><a href="http://twitter.com/tu0huang">@tu0huang</a></li>
        </ul>
      </div>

      <div class="four columns sidebar">
        <section>
          <a id="avatar" href="/"></a>

          <ul id="social">
            <li>
              <a href="mailto:clarkhtse@gmail.com?subject=hi" class="icon-envelope-alt" title="Say hi"></a>
            </li>

            <li>
              <a href="http://twitter.com/tu0huang" class="icon-twitter" title="You should follow me" style="font-size: 28px;"></a>
            </li>

            <li>
              <a href="http://github.com/tuo" class="icon-github"  title="I share and fork code here"></a>
            </li>
            <li>
              <a href="http://feeds2.feedburner.com/tu0huang" class="icon-rss" onClick="_gaq.push(['_trackEvent', 'Link', 'Click', 'Sidebar RSS']);" title="RSS"></a>
            </li>
          </ul>

          <ul id="me">
            <li>Tuo Huang 黄拓</span><a href="http://weibo.com/tu0huang" style="display:inline-block;"><img src='/static/images/sinaweibo.png'/></a></li>
            <li class="gray">{{ description }}</li>
          </ul>

        </section>
      </div>

      {{ content }}
    </div>
  </body>
</html> 
