---
layout: post_main
blog: true
---

<article class='sixteen columns' id="article-content" style="border: 0px solid red">

  <a id="avatar" class="four columns" style="width:100px;height:100px;" href="/"></a>

  <header class="thirteen columns" id="article-header" style="margin-top:14px;">
    <h1>{{ page.title }}</h1>
  </header>

  <div class='thirteen columns gray' id="date-header" style="margin-bottom: 10px;">
    <p>
      {{ page.date | date: "%b %d, %Y" }}
    </p>

  </div>

  <div style="clear:both"/>
  <div class="sixteen columns" id="article-content">
    {{ content }}
  </div>
  <hr style="visibility:hidden;"/>
  
  <!--<footer class="ten columns">
    <p id='follow'>
       Follow me on <a href="http://twitter.com/tu0huang">Twitter</a> &
       <a href="http://weibo.com/tu0huang">Weibo</a>	   
    </p>
  </footer> -->
</article>

