---
layout: default
blog: true
---

<article class='ten columns offset-by-four' id="article-content">
  <header class="ten columns" id="article-header">
    <h1>{{ page.title }}</h1>
  </header>

  <div class='ten columns gray' id="date-header">
    <p>
      {{ page.date | date: "%b %d, %Y" }}
  {% if page.updated_at %}
      revised {{ page.updated_at }}
  {% endif %}
    </p>

  </div>

  <div class="ten columns" id="article-content">
    {{ content }}
  </div>
  <hr style="visibility:hidden;"/>
  
  <!--<footer class="ten columns">
    <p id='follow'>
       Follow me on <a href="http://twitter.com/tu0huang">Twitter</a> &
       <a href="http://weibo.com/tu0huang">Weibo</a>	   
    </p>
  </footer> -->
</article>

<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style ten columns offset-by-four" style="margin-bottom: 11px;">
	<a class="addthis_counter addthis_pill_style"></a>
</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50f9651243f1723a"></script>
<!-- AddThis Button END -->
<div style="margin-bottom:10px;"/>
<div id="disqus_thread" class="ten columns offset-by-four"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'tuohuang'; // required: replace example with your forum shortname
  var disqus_identifier = '/tuohuangid';
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
